html {
    height: 100%;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Georgia", "Arial", "Serif";
    width: 100%;
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    height: 100%;
    color: #999;
    background-color: #272822;
}
form {
  height: 90%;
}

h2.title {
    display: block;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 1em;
    font-size: 1.2em;
    font-weight: normal;
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}
.hide {
    display: none;
}
.border-bottom {
    border-bottom: 1px solid #333;
}
.editor, .preview {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.editor #code-editor {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 93%;
    background-color: #272822;
    font-family: monospace;
    font-size: 18px;
    resize: none;
    overflow-x: hidden;
    color: greenyellow;
    font-size: 25px;
    border: 1px solid greenyellow;
}

.editor #code-editor:hover, .editor #code-editor:active, .editor #code-editor:focus {
    border: 1px solid transparent;
}


.slides {
  resize: horizontal;
  overflow: hidden;
}

.slides1 {
  resize: both;
  overflow: hidden;
}

.preview #preview-frame {
    height: 93%;
    width: 100%;
    border: none;
    background-color: #fff;
    border-width: inherit;
    border: 1px solid #2f9eff;
    overflow: auto;
}

.btn {
  background-color: #222;
  color: #9e98ec;
  height: 30px;
  border-radius: 15px;
  margin: 1px;
  padding: 5px;
}
.btn:hover {
  color: black;
  background-color: white;
}

li.dropdown {
		display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

	.dropdown:hover .isi-dropdown {
		display: block;
	}

	.isi-dropdown a:hover {
		color: #fff !important;
	}
  .isi-dropdown {
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #f9f9f9;
  height:100px;
  width: 90%;
  overflow-y: visible;
}

.dang {
  background-color: red;
  color: #fafafa;
  height: 30px;
  border-radius: 15px;
  margin: 1px;
  padding: 5px;
}
.texted, .emot {
  background-color: purple;
  color: #fafafa;
  height: 30px;
  border-radius: 15px;
  margin: 1px;
  padding: 5px;
}
.html-das {
  background-color: green;
  color: #fafafa;
  height: 30px;
  border-radius: 15px;
  margin: 1px;
  padding: 5px;
}
@media screen and (min-width: 720px) {
    .editor {
        width: 50%;
        float: left;
        padding-bottom: 0;
    }
    .menu {
        width: 300px;
        border-right: 1px dotted #999;
        border-bottom: 1px dotted #999;
    }
    .preview {
        width: 50%;
        float: left;
    }
    .full-width {
        width: 100%;
        float: initial;
    }
}
